:root {
  --theme-color1: #E5E5E5;
  --theme-color2: #fff;
  --theme-color3: #F9855B;
  --theme-color4: #423B39;
  --theme-color5: #CFD2DA;
  ;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--theme-color1);
  font-family: 'Poppins', sans-serif;
  /* background: url(https://s3-alpha-sig.figma.com/img/abe3/5840/d659d5e552b46a354ae50dde02fbcac5?Expires=1606089600&Signature=SnpactX0vEXE~RlDvSm~S8-qZfL0mfDMmAfEGKaw4ZMUh~M-nS6makhtkmP6kq1wObbt0bMbFHJ99Wb8JkuVSXDpMCaj3BSJGO18jHv9p8SKh0Jkd5eBQrscIM6aTNOjpOsi2bQHd5uIBtb3K9iQ-whLWVUK3cGtTO6qxl1VgVFY8HxsLLdtG0MtX~6YL9IQVo8jUs6VQKp7in39LkbKw7tDttriWw2i5YdxQ7niFYnwJ7BkB2y9s8fhishPsaEV2FBKQjPXlAvbGwExUY0eHemZDuQpq3TpWY~JHGUyTyOa8RvdyhoMrDk4rlsYyPSV24fhI2dcP7~NIn8eaEV2Sw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA); */
}

a {
  text-decoration: none;
  color: var(--theme-color4);
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-content-center {
  justify-content: center;
}

.flex-content-apart {
  justify-content: space-between;
}

.flex-content-end {
  justify-content: flex-end;
}

.flex-content-start {
  justify-content: flex-start;
}

.flex-content-around {
  justify-content: space-around;
}

.hide-small {
  display: none;
}

.page-margin {
  margin-left: 6vw;
  margin-right: 6vw;
}

.text-color-home {
  color: var(--theme-color3);
}

.bg-color-home {
  background-color: var(--theme-color3);
}

.font-bold {
  font-weight: bold;
}

.font-size-tiny {
  font-size: smaller;
}

.font-size-small {
  font-size: small;
  font-weight: 200;
}

.font-size-medium {
  font-size: medium;
}

.font-size-large {
  font-size: x-large;
}

/* =================== Small-section-Header ==================== */
.header {
  padding: 1vh 6vw 1vh 6vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--theme-color1);
}

.logo {
  padding-right: 7%;
  letter-spacing: -2.5px;
}

.nav {
  flex-grow: 1;
}

/* =================== Small-section-Welcome ==================== */

.welcome {
  min-height: 60vh;
  flex-direction: column;
  align-items: baseline;
}

.heading {
  margin: 4% 0 4% 0;
}

.p-lower-margin {
  margin-bottom: 2vh;
}

.social-icons-div {
  width: 100%;
  flex-direction: column;
  align-items: baseline;
}

.social-icon {
  margin-right: 5px;
}

/* =================== Small-section-Projects ==================== */

.top-project {
  width: 100%;
  margin-bottom: 8%;
}

.project-image {
  height: 65vw;
  padding: 10%;
  background-color: red;
}

.project-title {
  color: var(--theme-color2);
}

.built-with-group {
  padding-bottom: 2%;
}

.built-with {
  color: var(--theme-color2);
  background-color: var(--theme-color4);
  padding: 1%;
  margin: 2% 2% 0 0;
}

.btn-1 {
  width: 100%;
  border-radius: 0;
  border-width: 0;
  background-color: var(--theme-color3);
  color: var(--theme-color2);
  padding: 3%;
  font-size: medium;
}

.btn-1:hover,
.btn-1:focus {
  font-weight: bold;
}

/* =================== Small-project-detail-model ==================== */
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--theme-color2);
  margin: auto;
  width: 80%;
}

#model-img-div {
  height: 60vw;
  background-image: url(https://media.wired.com/photos/5ecec6a82ea7ea36d6c08061/master/w_2560%2Cc_limit/Gear-Apple-MacBook-13-inch-2020-after-effects-SOURCE-Apple.jpg);
  background-size: 100% 100%;
}

/* The Close Button */
.close {
  color: var(--theme-color2);
  width: 45px;
  height: 45px;
  float: right;
  font-size: xx-large;
  background-color: var(--theme-color3);
  padding: 0;
}

.model-btn {
  margin-top: 10px;
}

#model-project-title {
  color: var(--theme-color4);
}


/* =================== Small-section-About ==================== */

.about-right {
  margin: 10% 0 15% 0;
}

.skills-div {
  border-bottom: 1px solid var(--theme-color5);
  padding-bottom: 20px;
}

.skill {
  margin-right: 10px;
}

/* =================== Small-section-Footer ==================== */

.footer {
  flex-direction: column;
  background-color: var(--theme-color3);
  padding: 6vh 6vw 1vh 6vw;
  color: var(--theme-color2);
}

.invitation {
  text-align: center;
}

.line-input {
  height: 3em;
  width: 100%;
  padding: 5%;
  margin-bottom: 5%;
  border-width: 0;
  font-family: inherit;
}

.body-input {
  height: 10em;
}

.submit-btn {
  background-color: var(--theme-color4);
  color: var(--theme-color2);
  padding: 0;
}

.footer-icons {
  border-bottom: 1px solid #FFA07D;
  width: 100%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}


/* =================== LARGE SCREEN STYLES ==================== */
@media screen and (min-width: 768px) {

  .display-large-inline {
    display: inline;
  }

  .display-large-flex {
    display: flex;
  }

  .hide-large {
    display: none;
  }

  .font-size-tiny {
    font-size: small;
  }

  .font-size-small{
    font-size: medium;
  }

  .font-size-medium {
    font-size: x-large;
  }

  .font-size-large {
    font-size: xx-large;
  }
  
  /* =================== Large-section-Header ==================== */
  .nav {
    justify-content: flex-end;
  }

  .nav-link {
    margin-left: 5vw;
  }
  
  /* =================== Large-section-Welcome ==================== */

  .welcome {
    max-width: 55%;
  }

  .social-icons-div {
    flex-direction: row;
    align-items: center;
  }

  .icons-pack {
    margin-left: 5%;
  }

  /* =================== Large-section-Projects ==================== */


  .top-project {
    margin-bottom: 1vw;
    width: 43.5vw;
  }

  .lower-project {
    width: 28.67vw;
  }

  .lower-project-title {
    font-size: x-large;
  }
  
  .project-image {
    flex-direction: column;
    align-items: baseline;
    height: 30vw;
    padding: 5%;
  }
  
  .lower-project-image {
    height: 20vw;
  }

  .project-details {
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
  }

  .project-image:hover .hide-small {
    display: flex;
  }
  .lower-built-with {
    font-size: small;
    padding: 1%;
    margin: 2% 2% 2% 0;
  }

  .see-project-button {
    font-size: small;
    width: fit-content;
  }

/* =================== Large-project-detail-model ==================== */
  
  #model-img-div {
    height: 50vw;
  }

  .model-btn {
    width: 30%;
    margin-right: 20px;
  }

  /* =================== Large-section-About ==================== */

  .about {
    align-items: flex-start;
  }
  
  .about-left {
    width: 38%;
  }

  .about-right {
    width: 50%;
    margin: 0;
  }
  
  /* =================== Large-section-Footer ==================== */

  .footer {
    padding: 3vw 25vw 1vh 25vw;
    margin-top: 7%;
  }

  .invitation {
    width: 85%;
  }
}

